<html>
<body>
    <button id="connectWalletBtn" style="width:150px;height:50px;">Algo Login</button>
    <p>Logged In Wallet: </p><div id="loggedIn"></div>

    <script src="/js/walletconnect.js" type="application/javascript"></script>
</body>
</html>